<!-- wp:template-part {"slug":"header-hero","tagName":"header", "className": "blog_header_hero"} /-->


<main class="home_post_excerpt_container">
<!-- wp:post-template {"align":"wide"} -->

<section class="home_post_excerpt">

	<!-- wp:post-featured-image {"isLink":true} /-->
	<!-- wp:post-title {"isLink":true} /-->
	<!-- wp:post-date /-->
	<!-- wp:post-category /-->
	<!-- wp:post-excerpt /-->

	<div aria-hidden="true" class="wp-block-spacer"></div>
</section>

<!-- /wp:post-template -->


</main>


<!-- wp:template-part {"slug":"footer","tagName":"footer", "className": "footer"} /-->
