<!-- wp:template-part {"slug":"header-hero","tagName":"header", "className": "blog_header_hero"} /-->


<article class="page_article_container">
	<header class="page_article_container--header">
		<!-- wp:post-title {"level":1 } /-->
	</header>

	<!-- wp:post-featured-image {"align":"wide","style":{"spacing":{"margin":{"bottom":"var(--wp--custom--spacing--medium, 6rem)"}}}} /-->

	<article>
		<!-- wp:post-content {"layout":{"inherit":true}} /-->
	</article>

</article>

<!-- wp:template-part {"slug":"footer","tagName":"footer", "className": "footer"} /-->

