<!-- wp:template-part {"slug":"header-hero","tagName":"header", "className": "blog_header_hero"} /-->

<main class="search_container">
	<!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Buscar","buttonUseIcon":true} /-->
</main>
<main class="search_container">

<article class="home_post_excerpt">
	<!-- wp:post-featured-image {"isLink":true} /-->
<!-- wp:post-title {"isLink":true} /-->
<!-- wp:post-date /-->
<!-- wp:post-category /-->
<!-- wp:post-excerpt /-->

	<div aria-hidden="true" class="wp-block-spacer"></div>
</article>


</main>

<!-- wp:template-part {"slug":"footer","tagName":"footer", "className": "footer"} /-->

